.about-container {
  display: flex;
  justify-content: left;

}

.about-container-wrapper {
  height: 100vh;
  padding-top: 80px;
  background-color: rgba(var(--main-dark-rgb), 0.1);
}

.about-title {
  font-family: 'Bebas Neue', cursive;
  font-size: 72px;
  color: var(--main-dark)
}

.about-title-container {
  width: 30%;
  align-self: center;
}

.about-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: var(--main-dark);
}

.about-container-bottom {
  display: flex;
  justify-content: flex-end;
  margin: 10% 20px 0 0;
}