@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

.home-container {
  height: 100vh;
}

.video-container {
  position: fixed;
  z-index: 0;
}

@media (min-aspect-ratio: 16/9) {
  .video-container {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-container {
    width: auto;
    height: 100%;
  }
}

.afterEnded {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.afterEnded-image {
  /* transform: translateX(-20%); */
  /* position: relative;
    max-width: 100%; */
  text-align: center;
  animation: coffee 2s ease-in-out;
  /* other keywords like "infinite alternate" can be useful here */
}

@keyframes coffee {
  /* You could think of as "step 1" */
  0% {
    opacity: 0;
    transform: translateX(-3%);
  }

  /* You could think of as "step 2" */
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.afterEnded-text {
  font-family: 'Bebas Neue', cursive;
  font-size: 128px;
  color: #634832;
  justify-self: center;
  animation: title 2s ease-in-out;
  /* other keywords like "infinite alternate" can be useful here */
}

.afterEnded-text-subtitle {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 28px;
}

.italic {
  font-style: italic;
  font-size: 24px;
  padding: 16px;
}

@keyframes title {
  0% {
    opacity: 0;
    transform: translateX(-3%);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
