@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.header-wrapper {
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}
